*{
	font-family: Arial, Helvetica, sans-serif;
}

.page-title{
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 6px;
}

.meta_header{
	position: relative;
    margin-top: 6px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0 0 0 / 8%);
    display: flex;
	margin-bottom: 30px;
    justify-content: space-between;
}

.page-subtitle{
	opacity: .9;
    font-size: 18px;
    line-height: 1.44;
    font-weight: 400;
}

.bg-c{
	background-color: #fcfcfc;
}

.bg-white{
	background-color: white;
}

hr{
	height: 1px;
}

.pointer{
	cursor: pointer;
}

.shadowed {
	border-radius: 8px;
	border: none !important;
	box-shadow: 0 2px 20px 0 rgb(0 0 0 / 8%);
}

.zoom {
	transition: transform .2s; /* Animation */
}
  
.zoom:hover {
	transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.modal-header{
	border-bottom: none !important;
}

.modal-footer{
	border-top: none !important;
}

.content-title{
	font-weight: 700;
    margin-bottom: 8px;
    margin-right: 10px;
    line-height: 1.5;

}

.profile-head h5 {
    color: #333;
	font-weight: bold;
}

.profile-head h6 {
    color: #0062cc;
}

.person-content {
	margin-top: 20px;
}

.person-content  label {
		font-weight: 600;
}

.table>:not(caption)>*>* {
     padding: .2rem .2rem !important; 

    border-bottom-width: 0 !important; 
}

.btn{
    height: 48px !important;
}

td, tr, th {
    text-transform: capitalize;
}

.gallery {
    min-height: 600px;
    height:85vh;
    max-height: 90vh;
    border: none !important;
    overflow-y: auto;
} 

.map{
	width: 100%; 
	min-height: 150px;
}

.accordion{
    border: none !important;
}

.accordion .active{
    border: none !important;
}

.accordion-button:not(.collapsed) {   
     background-color: #fff !important; 
}


/* error */

.error_bg {
    background-size: 75% 75%;
    height: 55vh;
    background-position: center;
    background-repeat: no-repeat;
}


.server-error-bg {
    background-image: url(assets/undraw_startled.svg);
}

.error_bg h1 {
    font-size: 80px;
}

.error_bg h2 {
    font-size: 80px;
}

.content-box-error {
    margin-top: 20px;
}

.content-box-error a {
    width: 200px;
}
