<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Audio Streamer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">#}
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <link href="{{ url_for('static', filename='music_player.png') }}" rel="shortcut icon" type="image/png"/>
</head>
<body class="bg-dark">
<div class="container bg-dark">
    <div class="page-header text-white mt-5">
        <h1>{{ title|title }}</h1>
    </div>

    {% block content %}{% endblock %}
</div>
</body>
</html>